<h1>Searching <small>Heroes of Marvell y DC: "{{ textSearch }}"</small></h1>
<hr>
<div class="card-columns" *ngIf="heroesArr.length > 0; else noResults">
    <app-hero-card (selectedHero) = "showHeroe( $event )" [hero] = "heroe" [index] = "heroe.idx" *ngFor="let heroe of heroesArr"></app-hero-card>
</div>

<ng-template #noResults>
    <div class="col-md-12">
        <div class="alert alert-info animated fadeIn fast" role="alert">
            There are no results that match your search.
        </div>
    </div>
</ng-template>
