<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"
                       color="tertiary">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ lista.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-list color="dark">
    <ion-item color="dark">
      <ion-label position="floating">New item</ion-label>
      <ion-input type="text"
                 [(ngModel)]="itemName"
                 (keyup.enter)="agregarItem()"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="dark">
      <ion-label>Items to do</ion-label>
    </ion-list-header>

    <ion-item color="dark"
              *ngFor="let item of lista.items"
              class="animated fadeInDown">
      <ion-checkbox slot="start" color="tertiary"
                    [(ngModel)]="item.completed"
                    (ionChange)="checkChanged(item)"></ion-checkbox>
      <ion-label>{{ item.description }}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
